.nav {
    width: 300px;
    height: 100vh;
    background-color: var(--main-color);
    position: fixed;
    top: 100px;
    /* hide nav list until hamburger menu is clicked  */
    right: -300px; 
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
}

 

.nav__lists {
    margin: 0;
    padding: 0;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2.5rem;
    font-size: 2rem;
    font-weight: 300;
}



 .nav__lists__item:last-child{
    margin-bottom: 10rem;
}

a{
    color: var(--secondary-color);
}

a:hover {
    font-weight: 500;
    transition: var(--transition);
}

/* this css will apply to nav when hamburger is clicked */
/* menu list is visible */

.active {
    right:0;
    
}


@media only screen and (max-width: 56.25em) {
    .nav {
        width: 200px;
    }

        .nav__lists{
            font-size: 1.5rem;
        }
}


@media screen and (max-width:37.5em) {
    .nav {
        width: 100%;
        right: -640px;
    }

    .active {
        right: 0;
    }

    .nav__lists{
        align-items: center;
        font-size: 2rem;
            font-weight: 400;
            letter-spacing: 1.3;
    }

        


}
