
#about {
    height: auto;
}

.about {
    background-color: #fafafa;
} 


     .about__content {
        display: grid;
        grid-gap: 4rem;
    }


    .about__content__title{
        font-size: 1.5rem;
        font-weight:700;
        margin-bottom: 2rem;
        letter-spacing: 1px;
    }

    
    .about__content__detail{
        margin-bottom: 1rem;
    }

    .about__content__detail-paragraph{
            color: #666;
            font-size: 1.2rem;
            margin-bottom: 1rem; 
            font-weight: 400;
            line-height: 1.7;
            max-width: 60rem;
        }


    .skills {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .skills__skill {
        color :#666;
        font-size: 1rem;
        font-weight: 600;
        padding: 1rem 1.2rem;
        background: red;
        margin-bottom: 1rem;
        background: rgba(153, 153, 153, .2);
        border-radius:5px
    }


    /* media query */

    @media only screen and (min-width:56.26em){
        .about__content {
            grid-template-columns:1fr 1fr;
            

        }

        

    }

