.app {
    height: 100vh;

    

    .sections {
        width: 100%;
        // reducing the height of top navbar which is 70px
        height: calc(100vh - 70px);
        position: relative;
        top: 70px;
        scroll-snap-type: y mandatory;
        //other browser
        
        

        // for all the child components inside the section element
        >* {
                width: 100vw;
                height: calc(100vh - 70px);
            }
    }


        
   
}