

/* ||reset */

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
/* || Variables */
:root{
  /* colors */
  --main-color:#15023a;
  --secondary-color: #fff;

  /*  */
  --transition : all 1s ease;

}



/* || General styling */
body {
  
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  line-height: 1.2;
  
}


li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Button */

.btn {
  /* width: max-content; */
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  background-color: #facf0f;
  color: var(--main-color);
  text-transform: uppercase;
  padding: 0.7rem 1.5rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: var(--transition);
  text-align: center;
  letter-spacing: 0.2rem;
}


.btn-primary {
  background-color: var(--main-color);
  color: var(--secondary-color);
  
}

.btn-lg{
  width: 100%;
}

.btn-primary:hover,
.btn:hover {
  color: var(--main-color);
  background-color: var(--secondary-color);
  border: 1px solid var(--main-color);
  transition: var(--transition);
      
}




@media screen and (min-width:37.5em) {
  .btn {
    letter-spacing: 0.2rem;
    padding: 0.7rem 3.5rem;
    width: 40%;
  }
}


/* Sections-heading */
.heading {
  padding-top: 1.2rem;
 margin-bottom: 5rem;
}

.heading__sec-main {
  color: #111;
  display: block;
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 3rem;
  position: relative;
}

.heading__sec-main::after {
  content: "";
  position: absolute;
  background: #facf0f;
  height: 5px;
  width: 3rem;
  top: calc(100% + 1.2rem);
  left: 42%;
  transform: traslateX(-50%);
  border-radius: 5px
}

.heading__sec-sub {
  color: #555;
  display: block;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  max-width: 80rem;
  margin: auto;
  line-height: 1.6;

}

/* container */
.main-container {
  max-width: 120rem;
  margin: auto;
  width: 92%;
  padding: 6rem 0;

}

/* container classes */





/* media queries */

@media screen and (min-width: 37.5em){
    .heading__sec-main::after {
        left: 48%;
    }
}










